<div id="downloads">
  <b>Download:</b>
  <a href="" id="flac_download">FLAC</a>
  <a href="" id="opus_download">OPUS</a>
  <a href="" id="mp3_download">MP3</a>
  {% if page.video_mp4 %}
  <a href="{{ page.video_mp4 }}">MP4 (H.264)</a>
  {% endif %}
  {% if page.video_mkv %}
  <a href="{{ page.video_mkv }}">MKV (HEVC)</a>
  {% endif %}
  {% if page.video_webm %}
  <a href="{{ page.video_webm }}">WEBM (VP9)</a>
  {% endif %}
  <br><br>
</div>
<script>
  var sm = "{{ page.stream_url }}".split('/')[2].replace('.mp3','');
  var mp3Url = `//s3.amazonaws.com/sonicmultiplicities.audio/feed/${sm}.mp3`;
  var flacUrl = `//s3.amazonaws.com/sonicmultiplicities.audio/feed/downloads/${sm}.flac`;
  var opusUrl = `//s3.amazonaws.com/sonicmultiplicities.audio/feed/downloads/${sm}.opus`;

  document.getElementById("flac_download").href = flacUrl;
  document.getElementById("opus_download").href = opusUrl;
  document.getElementById("mp3_download").href = mp3Url;

  var mp3Source= document.createElement('source');
  mp3Source.type= 'audio/mpeg';
  mp3Source.src= mp3Url;

  var opusSource= document.createElement('source');
  opusSource.type= 'audio/ogg';
  opusSource.src= opusUrl;

  var flacSource= document.createElement('source');
  flacSource.type= 'audio/flac';
  flacSource.src= flacUrl;

</script>
