<div class="footer">
    <nav class="nav_bar">
        <ul>
            <li class="copyright">
                © 2020 SACRED DATA
            </li>
            {% if site.statement %}
            <li>
                {{ site.statement }}
            </li>
            {% endif %}
        </ul>
        <br>
        <ul>
          <a href="//itunes.apple.com/us/artist/1493047427"><i class="fa fa-apple" aria-hidden="true"></i></a>
          <a href="//sonicmultiplicities.bandcamp.com/music"><i class="fa fa-bandcamp" aria-hidden="true"></i></a>
          <a href="//soundcloud.com/sonicmultiplicities"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
          <a href="//open.spotify.com/artist/7y3b4MROsSlg8Md4yDtoS4"><i class="fa fa-spotify" aria-hidden="true"></i></a>
          <a href="//vimeo.com/sonicmultiplicities"><i class="fa fa-vimeo-square" aria-hidden="true"></i></a>
          <a href="//www.youtube.com/channel/UCPPgYvCAGXn-HSqtwAEvvrg/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </ul>
    </nav>
</div>
