<head>
  <meta charset="utf-8" />
  <!-- multi-device width -->
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <!-- site description -->
  {% if page.excerpt %}
  {% assign desc = page.excerpt | strip_html |
  strip_newlines | truncate: 160 %}
  {% else %}
  {% assign desc = site.description
  %}
  {% endif %}
  <meta content="{{ desc }}" name="description" />
  <!-- referer for 3rd-part images-->
  <meta content="no-referrer" name="referrer" />
  <!-- title -->
  <title>
    {% if page.title %}
    {{ page.title | escape }}
    {% else %}
    {{ site.title | escape }}
    {% endif %}
  </title>
  <!-- icon -->
  <link href="{{site.url }}{{site.baseurl}}{{site.assets_path}}/img/favicon.ico?" rel="shortcut icon bookmark" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.url }}{{site.baseurl}}{{site.assets_path}}/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.url }}{{site.baseurl}}{{site.assets_path}}/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.url }}{{site.baseurl}}{{site.assets_path}}/img/favicon-16x16.png">
  <!-- main stylesheet -->
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}{{site.assets_path}}/css/main.css" type="text/css" />
  <!-- fa 5.9.0 -->
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}{{site.assets_path}}/css/fa.min.css" type="text/css" />
  <!-- rouge theme-->
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}{{site.assets_path}}/css/rouge-bg.css" />
  
  <!-- Twitter Card Metadata -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@sociosonics" />
  <meta name="twitter:creator" content="@andrewunmuted" />

  {% if page.stream_url %}
  <!-- Wavesurfer.js -->
  <script src="{{site.url}}{{site.baseurl}}{{site.assets_path}}/js/wavesurfer.js"></script>
  <script src="{{site.url}}{{site.baseurl}}{{site.assets_path}}/js/wavesurfer.regions.min.js"></script>
  {% endif %}

  {% if page.layout == "playlist" %}
  <script src="{{site.url}}{{site.baseurl}}{{site.assets_path}}/js/wavesurfer.minimap.min.js"></script>
  {% endif %}
  
  <!-- OG metadata -->
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
  <meta property="og:title" content="{{ page.title }}" />

  {% if page.layout == "profile" %}
  <meta property="og:type" content="profile">
  {% if page.image %}
  <meta property="og:image" content="{{site.url}}{{site.baseurl}}{{site.assets_path}}{{page.image}}">
  {% endif %}
  <meta property="profile:first_name" content="{{ page.firstname }}">
  <meta property="profile:last_name" content="{{ page.lastname }}">
  {% endif %}

  {% if page.cover %}
  <meta property="og:image" content="https:{{ page.cover }}" />
  <meta property="og:image:secure_url" content="https:{{ page.cover }}" />
  {% if page.cover contains ".jpg" %}
  <meta property="og:image:type" content="image/jpeg" />
  {% elsif page.cover contains ".png" %}
  <meta property="og:image:type" content="image/png" />
  {% endif %}
  {% endif %}

  {% if page.stream_url %}
  <meta property="og:description" content="A {{ page.season }} Sonic Multiplicities recording, performed by {{ page.author }} on the {{ page.instrument }}. Catalog number {{ page.excerpt }}." />
  <meta property="og:audio" content="https://{{ page.stream_url }}" />
  {% if page.stream_url contains ".mp3" %}
  <meta property="og:audio:type" content="audio/mpeg" />
  {% endif %}
  <meta property="music:duration" content="{{ page.duration }}">
  {% endif %}

  {% if page.video_url %}
  <meta property="og:video" content="https:{{ page.video_url }}" />
  {% endif %}

  <!-- Albums & playlist layouts have more than 1 track so are "Album" type -->
  {% if page.category == "Album" or page.layout == "playlist" %}
  <meta property="og:type" content="music.album" />
  <meta property="music:release_date" content="{{ page.date | date_to_xmlschema }}">
  <meta property="music:musician" content="{{ site.url }}{{ site.baseurl }}/Andrew-Grathwohl/">
  {% assign theperformer = page.author | split: " " %}
  <meta property="music:musician" content="{{ site.url }}{{ site.baseurl }}/{{ theperformer | join: '-'  }}/">
  {% elsif page.category == "Composition" or page.category == "Reflection" %}
  <meta property="og:type" content="music.song" />
  <meta property="music:album:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <meta property="music:musician" content="{{ site.url }}{{ site.baseurl }}/Andrew-Grathwohl/">
  {% assign theperformer = page.author | split: " " %}
  <meta property="music:musician" content="{{ site.url }}{{ site.baseurl }}/{{ theperformer | join: '-'  }}/">
  {% endif %}

  {% if page.video_url %}
  {% assign videoWidth = "640" %}
  {% assign videoHeight = "360" %}
  <style>
  video {
    width: {{ videoWidth }}px;
    height: {{ videoHeight }}px;
  }
  </style>
  <meta property="og:video:width" content="{{ videoWidth }}" />
  <meta property="og:video:height" content="{{ videoHeight }}" />
  <meta property="og:video:director" content="{{ site.url }}{{ site.baseurl }}/Andrew-Grathwohl/">
  {% if page.author %}
  <!-- Add the performer as an actor credit -->
  {% assign theperformer = page.author | split: " " %}
  <meta property="og:video:actor" content="{{ site.url }}{{ site.baseurl }}/{{ theperformer | join: '-'  }}/">
  <meta property="og:video:actor:role" content="Performer">
  {% endif %}
  <script src="//cdn.jsdelivr.net/npm/shaka-player@3.0.4/dist/shaka-player.compiled.min.js"></script>
  {% endif %}

  <!-- mathjax 2.7.5 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
  </head>
