<script src="{{ site.url  }}{{ site.baseurl  }}{{ site.assets_path  }}/js/vibrant.js"></script>
<div id="player_msg"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i> LOADING SONICS</div>
<div id="player"></div>
<div id="player_controls">
  <div id="music_dur"></div>
  <button id="audioBtnPlay" onclick="wavesurfer.play()">
    <i class="fa fa-play" aria-hidden="true"></i>
  </button>
  <button id="audioBtnPause" onclick="wavesurfer.pause()">
    <i class="fa fa-pause" aria-hidden="true"></i>
  </button>
  <button id="toggleMuteBtn" onclick="wavesurfer.toggleMute()">Toggle Mute</button>
  {% if page.bin_url %}
    <button id="toggleBinBtn" onclick="toggleBin()">Toggle Stereo/Binaural</button>
  {% endif %}
 <script>
   var cover = "{{ page.cover }}";
   console.log(cover)
   var url = "{{ page.stream_url }}";
   console.log(url);
   
   var dur = 0.0;

   var v = new Vibrant("https:" + cover);

   var wavesurfer = WaveSurfer.create({
     container: "#player",
     cursorWidth: 2,
   });

   wavesurfer.on('ready', function () {
         document.getElementById("player_msg").innerHTML = "";
         wavesurfer.play();
         dur = wavesurfer.getDuration().toFixed(2);
         console.log(dur);
         document.getElementById("music_dur").innerHTML = `<i class="fa fa-clock-o" aria-hidden="true"></i> ${dur}`;
   });

   wavesurfer.load(`//${url}`);

   v.getPalette((err, palette) => {
     console.log(err)

     var muted = !err ? palette.Muted ? palette.Muted.getHex() : null : null;
     var vibrant = !err ? palette.Vibrant ? palette.Vibrant.getHex() : null : null;
     var darkVibrant = !err ? palette.DarkVibrant ? palette.DarkVibrant.getHex() : null : null;

     /*
     var wavesurfer = WaveSurfer.create({
       container: "#player",
       cursorWidth: 2,
       cursorColor: darkVibrant || "#333",
       progressColor: muted || "#555",
       waveColor: vibrant || "#999"
     });
     */

     wavesurfer.setWaveColor(vibrant || "#999");
     wavesurfer.setProgressColor(muted || "#555");
     wavesurfer.setCursorColor(darkVibrant || "#333");
   })


   function toggleBin() {
     var stUrl = "{{ page.stream_url }}";
     var binUrl = "{{ page.bin_url }}";
     url = url == stUrl ? binUrl : stUrl
     wavesurfer.load(`//${url}`);
   }

 </script>
