<div id="player_msg">LOADING SONICS</div>
<div id="player"></div>
<div id="player_controls">
  <div id="music_dur"></div>
  <button id="toggleMuteBtn" onclick="wavesurfer.toggleMute()">Toggle Mute</button>
  {% if page.bin_url %}
    <button id="toggleBinBtn" onclick="toggleBin()">Toggle Stereo/Binaural</button>
  {% endif %}
 <script>
   var url = "{{ page.stream_url }}";
   console.log(url)

   var dur = 0.0;

   var wavesurfer = WaveSurfer.create({
     container: "#player"
   });

   wavesurfer.on('ready', function () {
         document.getElementById("player_msg").innerHTML = "";
         wavesurfer.play();
         dur = wavesurfer.getDuration();
         console.log(dur);
         document.getElementById("music_dur").innerHTML = `${dur}`;
   });

   wavesurfer.load(`//${url}`);

   function toggleBin() {
     var stUrl = "{{ page.stream_url }}";
     var binUrl = "{{ page.bin_url }}";
     url = url == stUrl ? binUrl : stUrl
     wavesurfer.load(`//${url}`);
   }

 </script>
