<script type="application/ld+json">
{
		"@context": "http://schema.org",
		"@type": "MusicGroup",
		"name": "Sonic Multiplicities",
		"alternateName": "▲",
		"sameAs": "https://multipli.city",
		"foundingLocation": {
				"@type": "City",
				"name": "New York"
		},
		"foundingDate": "2010",
		"genre": "Experimental",
		"member": [
			{
				"@type": "OrganizationRole",
				"member": {
					"@type": "Person",
					"name": "Andrew Grathwohl"
				},
				"startDate": "2010",
				"roleName": ["composer", "producer", "engineer", "programmer"]
			},
			{
				"@type": "OrganizationRole",
				"member": {
					"@type": "Person",
					"name": "Garrett Semmelink"
				},
				"startDate": "2010",
				"roleName": ["violin"]
			},
			{
				"@type": "OrganizationRole",
				"member": {
					"@type": "Person",
					"name": "Tyler Dinner"
				},
				"startDate": "2019",
				"roleName": ["guitar"]
			}
		]
}
</script>
