{% if page.apple_music or page.bandcamp or page.soundcloud or page.spotify or page.youtube %}
<div id="streams"><br><br>
  <b>Stream:</b>
  {% if page.apple_music %}
  <a href="{{ page.apple_music }}" id="apple"><i class="fa fa-apple"></i></a>
  {% endif %}
  {% if page.bandcamp %}
  <a href="{{ page.bandcamp }}" id="bandcamp"><i class="fa fa-bandcamp"></i></a>
  {% endif %}
  {% if page.soundcloud %}
  <a href="{{ page.soundcloud }}" id="soundcloud"><i class="fa fa-soundcloud"></i></a>
  {% endif %}
  {% if page.spotify %}
  <a href="{{ page.spotify }}" id="spotify"><i class="fa fa-spotify"></i></a>
  {% endif %}
  {% if page.vimeo %}
  <a href="{{ page.vimeo }}" id="vimeo"><i class="fa fa-vimeo-square"></i></a>
  {% endif %}
  {% if page.youtube %}
  <a href="{{ page.youtube }}" id="youtube"><i class="fa fa-youtube-play"></i></a>
  {% endif %}
  <br><br>
</div>
{% endif %}
{% if page.sidecar %}
<div id="tracklist"></div>
{% endif %}
