---
layout: default
---
<h1>
{% if page.video_url %}
{% include video.html %}
<div id="musicTitle">{{ page.title }}</div>
</h1>
{% elsif page.cover %}
  <img src="{{ page.cover }}" alt="Cover art for {{ page.title }}" height="540" style="vertical-align:bottom"><br><br>
  <div id="musicTitle">{{ page.title }}</div>
</h1>
{% else %}
<h1 id="musicTitle">
  {{ page.title }}
</h1>
{% endif %}
{% include schema_musicGroup.html %}
{% if page.category == "Composition" or page.category == "Reflection" %}
{% include schema_musicComposition.html %}
{% endif %}
{% include post_info.html %}
{% include downloads.html %}
{% unless page.video_url %}
{% include player.html %}
{% include visualizer.html %}
{% endunless %}
{% include streams.html %}
{% include cc.html %}
{{ content }}
